@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	/* line-height: 1.75em; */
	font-size: 16px;
	background-color: #222;
	color: #aaa;
}

.simple-container {
	max-width: 675px;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 20px;
}

.simple-print {
	fill: white;
	stroke: white;
}
.simple-print svg {
	height: 100%;
}

.simple-close {
	color: white;
	border-color: white;
}

.simple-ext-info {
	border-top: 1px solid #aaa;
}

p {
	font-size: 16px;
}

h1 {
	font-size: 30px;
	line-height: 34px;
}

h2 {
	font-size: 20px;
	line-height: 25px;
}

h3 {
	font-size: 16px;
	line-height: 27px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;
}

hr {
	height: 1px;
	background-color: #d8d8d8;
	border: none;
	width: 100%;
	margin: 0px;
}

a[href] {
	color: #1e8ad6;
}

a[href]:hover {
	color: #3ba0e6;
}

img {
	max-width: 100%;
}

li {
	line-height: 1.5em;
}

aside,
[class *= "sidebar"],
[id *= "sidebar"] {
	max-width: 90%;
	margin: 0 auto;
	border: 1px solid lightgrey;
	padding: 5px 15px;
}

@media (min-width: 1921px) {
	body {
		font-size: 18px;
	}
}

/* --------------------------- */
/* Vanta-Added */
.overcell{
	width: 300px;
	border: 1px solid rgba(255, 255, 255, .5);
}
.overrow{
	border: 1px solid rgba(255, 255, 255, .5);
}
.smallcell {
	font-size: 14px;
}

.bigcell {
	font-size: 16px;
}

.biggercell {
	font-size: 21px;
}

.ordcell {
	font-size: 12px;
}

.familyrow {
	padding: 25px;
}

/* Tooltip container */
.tooltip {
  cursor: pointer;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden; /* Hidden by default */
  width: 200px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  font-size: 18px;
  z-index: 1; /* Ensure tooltip is displayed above content */
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Flip cards */
.card {
	width: 220px;
	height: 374px;
	perspective: 1000px;
	transition: transform .5s;
	transform-style: preserve-3d;
}

.card.flipped {
	transform: rotateY( 180deg );
}

.card-front, .card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.card-back {
	transform: rotateY(180deg);
	font-size:15px;
	padding: 5px;
}